.Game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;

    @media (min-width: 768px) {
        margin-top: 2rem;
        padding: 0 1rem;
        gap: 1rem;
        grid-template-columns: repeat(8, 1fr);
    }
}
