.Game {
    padding: 10px;
    &-Cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: .5rem;

        @media (min-width: 768px) {
            grid-template-columns: repeat(8, 1fr);
        }
    }
}
