.Home {
    height: 100vh;

    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/Assets/img/CardGame.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 3rem;
        color: var(--light);
        text-shadow: 0 0 10px #000;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: var(--light);
        padding: 1rem;
        margin: 1rem;
        border-radius: 10px;
        outline: solid 3px var(--primary);
        background-color: var(--primary-darker);
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: var(--primary);
            color: var(--light);
            outline-offset: 4px;
        }
    }

    .buttons {
        margin-top: 10px;
    }
}
